.recipientList {
  max-height: 73vh;
  overflow: auto;
}
.am-search {
    width: 100% !important;
    margin: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 16vh !important;
}
.checkbox-square .ant-checkbox-inner {
  width: 30px !important;
  height: 30px !important;
  border: 2px solid #e0e0e0 !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.checkbox-square .ant-checkbox-checked .ant-checkbox-inner::after {    
  left: 10px !important;
}