/* .messages-list {
    max-height: 400px;
    overflow: auto;
}
.ChefDetail .ant-drawer-wrapper-body {
    background: #f4f4f4;
}
.message-sent-time {
    position: absolute;
    right: 12px;
    bottom: 0.4rem;
    font-size: 0.67rem;
}
.bs-b {
    box-shadow: 0px 0px 20px -2px #00000014;
}
.messageBox input::placeholder {
    color: #ebebeb !important;
}
.ChefDetail .ant-tabs-bar {
    border-bottom: none !important;
} */